%h1 Index 
%ol
    %li= link_to "Kapitel 1", "kap1"    
    %li= link_to "Kapitel 2", "kap2"    
    %ol#lower 
        %li= link_to "Abschnitt 1", "kap2#Abschnitt1"
        %li= link_to "Abschnitt 2", "kap2#Abschnitt2"
    %li= link_to "Anhang(Tabelle) ", "tab"
